In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.DataFrame([[2, 1, 0],[3, 2,0],[3, 4, 0],[5, 5, 1],[7, 5, 1],[2, 5, 0],
                   [8, 9, 1],[9, 10, 1],[6, 12, 1],[9, 2, 1],[6, 10, 1],[2, 4, 0]],
                  columns=['hour', 'attendance', 'pass'])

In [10]:
df.head()

   hour  attendance  pass
0     2           1     0
1     3           2     0
2     3           4     0
3     5           5     1
4     7           5     1

In [9]:
df_x=df.drop(['pass'],axis=1)
df_x.head()

   hour  attendance
0     2           1
1     3           2
2     3           4
3     5           5
4     7           5

In [18]:
df_y=df['pass']
df_y.head()

0    0
1    0
2    0
3    1
4    1
Name: pass, dtype: int64

In [19]:
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(df_x, df_y, test_size=0.4, random_state=777, stratify=df_y)
# random_state : 시드값, stratify: Data 비율